@page "/co-hoi-nghe-nghiep"
@model FranCoffee.Website.Pages.RecruitmentModel
@{
}

@section custom_head {
    <style>
        .heading-section h2 small {
            font-size: 50% !important;
        }
    </style>
}

<section class="common-slider owl-carousel">

    <div class="slider-item" style="background-image: url(/images/bg_1.jpg?v=31032020);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="slider-content pb-5 col-md-7 col-sm-12 text-center ftco-animate">
                    @Model.L["slider_content"]
                </div>

            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 pr-md-5">
                <div class="heading-section text-md-right ftco-animate">
                    @Model.L["section_intro"]
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="menu-entry">
                            <a href="#" class="img" style="background-image: url(images/menu-1.jpg?v=31032020);"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-entry mt-lg-4">
                            <a href="#" class="img" style="background-image: url(images/menu-2.jpg?v=31032020);"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-entry">
                            <a href="#" class="img" style="background-image: url(images/menu-3.jpg?v=31032020);"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-entry mt-lg-4">
                            <a href="#" class="img" style="background-image: url(images/menu-4.jpg?v=31032020);"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section pt-0">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="heading-section text-justify ftco-animate">
                    @Model.L["office_job_header"]

                    <p class="mb-4 text-white">
                        [CƠ HỘI VIỆC LÀM - KHỐI VĂN PHÒNG]
                        <br />
                        Do nhu cầu phát triển kinh doanh, Công ty cổ phần A+ Coffee (Hệ thống chuỗi nhượng quyền A+ Coffee) xin trân trọng thông báo tuyển dụng các vị trí:
                        <br />
                        1. NHÂN VIÊN KINH DOANH / PHÁT TRIỂN THỊ TRƯỜNG
                        <br />
                        - Số lương: 50 nhân viên (khu vực TP.HCM) & 30 nhân viên (khu vực Cần Thơ) & 20 nhân viên (khu vực Biên Hòa)
                        <br />
                        - Giới tính: Nam
                        <br />
                        - Yêu cầu: Trung cấp trở lên, có khả năng giao tiếp tốt, năng động, có kỹ năng tiếp thị sản phẩm, chăm sóc khách hàng cũ/ mới.
                        <br />
                        - Tổng thu nhập hàng tháng từ 7.000.000đ - 10.000.000đ bao gồm:
                        <br />
                        + Lương cơ bản: 4.000.000 - 6.000.000 VNĐ (tùy theo năng lực)
                        <br />
                        + Lương phụ cấp: 3.000.000đ
                        <br />
                        + Hoa hồng theo chính sách công ty.
                        <br />
                        2. NHÂN VIÊN CONTENT MARKETING
                        <br />
                        - Số lượng: 10 nhân viên (khu vực TP. HCM)
                        <br />
                        - Giới tính: Nam/Nữ
                        <br />
                        - Yêu cầu:
                        <br />
                        + Có kiến thức tốt về Marketing, quảng cáo, PR. Có khả năng viết và sáng tạo nội dung tốt.
                        <br />
                        + Thông thạo các cách thức vận hành hệ thống bán hàng tự động, website bán hàng, Facebook Fanpage và các kênh Digital.
                        <br />
                        - Tổng thu nhập: 7.000.000đ - 8.500.000đ
                        <br />
                        ✪ QUYỀN LỢI CHUNG :
                        <br />
                        - Nhân viên có năng lực tốt sẽ ký hợp đồng chính thức khi chưa hết thời gian thử việc.
                        <br />
                        - Môi trường làm việc thân thiện, năng động, cơ hội thăng tiến nhanh. Được đào tạo thêm để nâng cao nghiệp vụ chuyên môn.
                        <br />
                        - Tăng lương theo hiệu quả công việc và cam kết đầy đủ các chế độ dành cho người lao động theo như quy định pháp luật hiện hành (BHYT, BHXH, BHTN…).
                        <br />
                        - Thưởng lương tháng thứ 13, 14, 15 tùy theo hiệu quả kinh doanh công ty.
                        <br />
                        <br />
                        <span class="text-primary font-weight-bold">
                            Gửi hồ sơ qua Email hoặc liên hệ trực tiếp
                            <br />
                            Email: apluscoffee@@example.com
                            <br />
                            Hotline: 0906309988
                            <br />
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>